<%- include('header') -%>
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1 class="display-4">
            Welcome, <%= locals.name || "Unauthorized User!" %>
        </h1>
        <p class="lead">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ipsam
            laboriosam repellat earum doloremque, facilis laudantium deserunt
            necessitatibus ducimus voluptate, impedit, dolorem quam quaerat?
            Amet sunt quisquam sed debitis. Quos.
        </p>
    </div>
</div>

<div class="container mt-5">
    <a href="/create-task">
        <div class="btn btn-primary">Add new Task</div>
    </a>
    <div class="card-container mt-4">
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Task Title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolore commodi velit unde, aliquid atque molestiae rerum
                    error rem voluptatibus voluptatum officia eius eaque
                    doloremque deleniti, earum nihil, eligendi ipsam blanditiis.
                </p>
                <a href="#" class="btn btn-primary">Complete Task</a>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Task Title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolore commodi velit unde, aliquid atque molestiae rerum
                    error rem voluptatibus voluptatum officia eius eaque
                    doloremque deleniti, earum nihil, eligendi ipsam blanditiis.
                </p>
                <a href="#" class="btn btn-primary">Complete Task</a>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Task Title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolore commodi velit unde, aliquid atque molestiae rerum
                    error rem voluptatibus voluptatum officia eius eaque
                    doloremque deleniti, earum nihil, eligendi ipsam blanditiis.
                </p>
                <a href="#" class="btn btn-primary">Complete Task</a>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Task Title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolore commodi velit unde, aliquid atque molestiae rerum
                    error rem voluptatibus voluptatum officia eius eaque
                    doloremque deleniti, earum nihil, eligendi ipsam blanditiis.
                </p>
                <a href="#" class="btn btn-primary">Complete Task</a>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Task Title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolore commodi velit unde, aliquid atque molestiae rerum
                    error rem voluptatibus voluptatum officia eius eaque
                    doloremque deleniti, earum nihil, eligendi ipsam blanditiis.
                </p>
                <a href="#" class="btn btn-primary">Complete Task</a>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>
